# Android 构建输出
/build/
/.kotlin/
/app/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
local.properties


# 签名文件与密码配置（切勿提交）
release.keystore
*.keystore
keystore.properties
signing.properties

# 本地测试产物
testout/

